.stake{
    display:flex;
    align-items: center;
    justify-content:space-around;
    .card{
        margin-top:40px;
        width:320px;
        height: 340px;
        img{
            widows: 48px;
            height: 48px;
        }
        input{
            margin-bottom: 1rem;
        }
        .pending-pnut{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            span{
                padding:0px 10px;
            }
        }
        .op-box{
            height: 80px;
        }
    }
    .fee{
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: gray;
        margin-top: 1rem;
    }
}