.swap-field {
  width: 492px;
  height: 520px;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
  border-radius: 28px;
  border: 1px solid rgba(227, 229, 232, 0.5);
  padding: 24px;

  .title-box {
    margin: 0;
    padding: 0;

    p {
      margin: 0;
      text-align: left;
    }

    .title {
      height: 24px;
      font-size: 20px;
      font-weight: 600;
      color: var(--primary-text);
      line-height: 24px;
    }

    .sub-title {
      height: 16px;
      margin-top: 4px;
      font-size: 12px;
      font-weight: 400;
      color: var(--disable);
      line-height: 16px;
    }
  }
  .line{
    height: 1px;
    width: 492px;
    background: var(--dividers);
    margin: 24px -24px;
  }

  .round-box{
    width: 444px;
height: 92px;
background: var(--background);
border-radius: 16px;
  }
}